*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    background-color:rgb(244, 244, 244);
}


.main-container{
    width:100%;
    height: auto;
}

.box-container{
    width: 60%;
    padding: 2rem;
    border-radius:0.2rem;
    margin: auto;
    margin-top: 3rem;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px rgb(32, 88, 54);
}

.box-container h1,
.box-container h2{
    color:green;
}

.box-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;;
        padding: 0.4rem;
}

.box-img-container{
    display:flex;
    justify-content: center;
    margin-top:1rem;
    flex-wrap: wrap;
    gap:4px;
}

.img-series{
    width:10rem;
}